@font-face {
    font-family: 'Open sans';
    src: url(/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

:root {
    font-family: 'Open sans';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

header{
    background: linear-gradient(to bottom, white, #a6c7e6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #343a40;
    padding: 10px 20px;
    height: 80px;
}

.titulo-header {
    position: absolute;
    text-align: center;
    font-size: 36px;
}

.logo-header{
    position: absolute;
    align-items: center;
    left: 20px;
    img{
        max-height: 70px;
    }
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    background-color: #343a40;
    color: white;

    .copy-logo{
        text-align: center;
    }
}

.logo-footer {
    max-height: 200px;
    text-align: center;
}

.contacto-footer{
    a {
        text-decoration: none;
        color: white;
    }
    p {
        cursor: pointer;
        margin: 20px 0;
    }
}

.parallax {
    height: 100dvh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;   /* Parallax */
    display: grid;
    place-content: center;
}

.boton { 
    background-color: #343a40;
    color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

/* Inscripción */

.paya {
    background-image: url(/imagenes/principal/cliente.png);
    .titulo {
        background-color: #343a40b4;
        padding: 30px;
        font-size: 40px;
        color: azure;
        border-radius: 10%;
    }
}

.formulario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.información-formulario {
    padding: 10px;
    display: flex;
    button {
        margin-right: 10px;
    }
}

.info-icon {
    cursor: default;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    font-size: 15px;
}

.tooltip {
    display: none;
    background-color: #343a40b4;
    color: azure;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    font-size: 0.9rem;
    z-index: 10;
}

/* END Inscripción */

/* Index */

.seleccion{
    padding: 20px;
    text-align: center;
}

.inscripcion {
    nav {
        padding: 30px;
    }
}

.dias{
    div {
        font-size: 24px;
    }
    nav {
        padding: 30px;
        
        .boton {
            margin-right: 10px;;
        }
        
        .boton:last-child {
            margin-right: 0;
        }
    }
}

.inscripcion {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .papel {
        cursor: pointer;
    }
}

.lorca-dia {
    background-image: url(/imagenes/principal/lorca-de-dia.jpg);
    .titulo {
        background-color: #343a40b4;
        padding: 30px;
        font-size: 40px;
        color: azure;
        border-radius: 10%;
    }
}

.lorca-tarde {
    background-image: url(/imagenes/principal/lorca-atardeciendo.jpg);
}

.lorca-noche {
    background-image: url(/imagenes/principal/lorca-de-noche.jpg);
}

.cliente {
    background-image: url(/imagenes/principal/cliente.png);
}


.dia1:hover {
    background-color: #a6c7e6;
}
.dia2:hover {
    background-color: sandybrown;
}
.dia3:hover {
    background-color: darkolivegreen;
}
.tick:hover {
    background-color: lightgreen;
}
.boton:active {
    transform: scale(0.95);
}
/* END Index */
